<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Testing Home Page</title>

    <!-- loading static files -->

    <!-- locally referencing -->
        <!--
        <link rel="stylesheet" type="text/css" href="/css/custom.css" />
        <script type="text/javascript" src="/js/custom.js"></script>
        -->

    <!-- cdn referecing -->
        <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"></script>
        -->

        <!-- load the following in order jquery, popper and lastly bootstrap -->
        <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        -->

    <!-- webjar referencing -->
    <!-- css files -->
    <script type="text/css" src="/webjars/bootstrap/4.1.2/css/bootstrap.min.css"></script>

    <!-- javascript files -->
    <script type="text/javascript" src="C:/Users/Vivek-Pc/.m2/repository/org/webjars/bootstrap/4.1.2/bootstrap-4.1.2.jar!/META-INF/resources/webjars/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <!-- custom static files referencing -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script type="text/javascript" src="/js/custom.js"></script>

    <script>
        $(document).ready(function () {
            $("#btn-button2").click(function () {
                alert("Button 2 clicked!!!");
            });
        });
    </script>
</head>
<body>
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Testing - Web Response - Task Process Manager</h1>
        </div>
    </div>

    <div class="container">
        <div class="container theme-showcase" role="main">
            <br> <br>
            <h1 class="display-4">Static Web Page Response - Testing</h1>
            <br>
            <button type="button" class="btn btn-primary" id="btn-version-info" onclick="verInfoShow()">Click To View Version Info</button>
            <button type="button" class="btn btn-primary" id="btn-button2">Button 2 using cdn</button>
        </div>
    </div>
</body>
</html>